Source: masakari-instancemonitor
Section: unknown
Priority: extra
Maintainer: NTT Software Innovation Center <openstack@lab.ntt.co.jp>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/ntt-sic/masakari

Package: masakari-instancemonitor
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
