RESOURCE_MANAGER_URL="http://192.168.60.101:15868"
PROCESS_CHECK_INTERVAL=5
PROCESS_REBOOT_RETRY=3
REBOOT_INTERVAL=5
RESOURCE_MANAGER_SEND_TIMEOUT=10
RESOURCE_MANAGER_SEND_RETRY=12
RESOURCE_MANAGER_SEND_DELAY=10
RESOURCE_MANAGER_SEND_RETRY_TIMEOUT=120
REGION_ID=RegionOne
LOG_LEVEL="info"
